@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DanaFaNum-Regular.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum-Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DanaFaNum-Medium.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-family: 'DanaFaNum-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/DanaFaNum-Bold.ttf') format('truetype');
}
:root {
    --primary: #100B36;
    --primary-900: #181146;
    --primary-100: #bfc0d6;
    --primary-50: #e5e6ee;
    --primary-10: #F1F7FF;
}
* {
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'DanaFaNum';
}
.clr{clear:both;margin:0 auto;display:block}
.dir-rtl {direction: rtl;}
input,select,button,textarea {font-family: 'DanaFaNum';}
.DanaFaNum-Bold {font-family: 'DanaFaNum-Bold';}
.DanaFaNum-medium {font-family: 'DanaFaNum-Medium';}
.active-place {background-color: var(--primary-900);}
.active-place div {color: #fff;}
@media not all and (min-width: 1280px) {
	.header-visible {
	  visibility: visible !important;
	  opacity: 1;
	  transform: translateX(0px) !important;
	  transition: transform 0.5s ease-in-out;
	  transition-property: transform;
	  transition-duration: 0.5s;
	  transition-timing-function: ease-in-out;
	}
  }